#student-table {
    max-height: 400px;
    overflow: scroll;
}

th, tr {
    width: 33%;
}

.present {
    color: gray;
    font-style: italic;
    background-color: rgb(255, 179, 0);
}

.absent {
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(0, 0, 255);

}

[v-cloak] {
    display: none;
}


