#records {
    max-height: 250px;
    overflow: scroll;
}

[v-cloak] {
    display: none;
}

.paintingRow {
    background-color: #e3d3c2;
}
.sketchingRow {
    background-color: #365577;
}
.drawingRow {
    background-color: #a2bb96;
}



